* {
    margin:0;
    padding:0;
}

html, body {
    width:100%;
    height:100%;
}

.wrapper {
    width:100%;
    height:100%;
}

.panel {
height: 100vh;
width: 100vw;
text-align: center;
color: #fff;
}

.panel span {
position: relative;
display: block;
overflow: visible;
top: 50%;
font-size: 80px;
}

.panel.blue {
background-color: #3883d8;
}

.panel.turqoise {
background-color: #38ced7;
}

.panel.green {
background-color: #22d659;
margin-bottom: 800px;
}

.panel.bordeaux {
background-color: #953543;
}

.content { width: 100%; height: 400px; background: #ddd; }
.footer { width: 100%; height: 100px; background:#999;}